In [1]:
import pandas as pd
import tables as tb
import tstables

from sampleDataGenerator import generateSampleData
from datetime import datetime

dataFilePath = 'data/sampleData.h5'
dataStorageName = 'sampleData'
readAccess = 'r'
writeAccess = 'w'

fromDate = datetime(2020, 1, 1)

In [2]:
sampleData = generateSampleData(fromDate, rows = 2.5e6, columns = 5, freq = '1s')
sampleData

,Column0,Column1,Column2,Column3,Column4
2020-01-01 00:00:00,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
2020-01-01 00:00:01,20001.638124,20000.432334,19999.062169,19998.786916,20003.681890
2020-01-01 00:00:02,19999.643199,20003.384707,19999.478663,20002.413538,20005.001344
2020-01-01 00:00:03,20003.889736,20000.129610,20002.246702,20005.684608,20006.574468
2020-01-01 00:00:04,20000.708460,19997.268226,20003.744454,20006.242466,20007.054378
...,...,...,...,...,...
2020-01-29 22:26:35,16947.515663,22148.394246,20207.909400,19526.624583,16790.920760
2020-01-29 22:26:36,16949.244318,22147.287905,20209.750037,19525.015376,16793.122377
2020-01-29 22:26:37,16949.985863,22147.910957,20211.620664,19528.489671,16792.408565
2020-01-29 22:26:38,16952.423038,22141.668978,20212.518634,19530.369191,16792.824723
2020-01-29 22:26:39,16951.767821,22145.230667,20214.888363,19532.001052,16792.218343

In [3]:
class TableDescription(tb.IsDescription):
    timestamp = tb.Int64Col(pos = 0)
    column1 = tb.Float64Col(pos = 1)
    column2 = tb.Float64Col(pos = 2)
    column3 = tb.Float64Col(pos = 3)
    column4 = tb.Float64Col(pos = 4)
    column5 = tb.Float64Col(pos = 5)
    
storage = tb.open_file(dataFilePath, writeAccess)
tstable = storage.create_ts('/', dataStorageName, TableDescription)
tstable.append(sampleData)

In [4]:
start = datetime(2020, 1, 2)
end = datetime(2020, 1, 3)
%time sampleDataSubset = tstable.read_range(start, end)

CPU times: total: 15.6 ms
Wall time: 19 ms

In [5]:
start = datetime(2020, 1, 2, 12, 30, 0)
end = datetime(2020, 1, 5, 17, 15, 30)
sampleDataSubset = tstable.read_range(start, end)
sampleDataSubset

,column1,column2,column3,column4,column5
2020-01-02 12:30:00,19653.090141,20274.348439,19277.058833,20136.526969,18881.009115
2020-01-02 12:30:01,19650.052064,20273.369254,19276.919030,20136.507207,18882.132265
2020-01-02 12:30:02,19648.222313,20273.567101,19277.710338,20137.359055,18880.897273
2020-01-02 12:30:03,19647.804833,20274.701862,19277.221698,20137.011204,18879.074585
2020-01-02 12:30:04,19650.851885,20277.793940,19277.545505,20139.110293,18877.424287
...,...,...,...,...,...
2020-01-05 17:15:26,20791.576558,19879.460160,20040.669382,19272.483807,19335.220862
2020-01-05 17:15:27,20789.235904,19878.573365,20041.520885,19270.917118,19337.493460
2020-01-05 17:15:28,20790.155978,19878.032684,20045.073831,19272.642590,19339.612572
2020-01-05 17:15:29,20788.705407,19877.381485,20043.450906,19271.832609,19340.555580
2020-01-05 17:15:30,20789.889381,19877.096945,20042.691950,19271.100148,19341.000914

In [6]:
storage.close()