In [2]:
import numpy as np
import pandas as pd

a = np.arange(15).reshape((5, 3))
a

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [3]:
import pandas as pd

columns = list('abc')
columns

['a', 'b', 'c']

In [4]:
index = pd.date_range('2021-07-01', periods = 5, freq = 'B')
index

DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-05', '2021-07-06',
               '2021-07-07'],
              dtype='datetime64[ns]', freq='B')

In [5]:
dataFrame = pd.DataFrame(a, columns = columns, index = index)
dataFrame

             a   b   c
2021-07-01   0   1   2
2021-07-02   3   4   5
2021-07-05   6   7   8
2021-07-06   9  10  11
2021-07-07  12  13  14

In [6]:
2 * dataFrame

             a   b   c
2021-07-01   0   2   4
2021-07-02   6   8  10
2021-07-05  12  14  16
2021-07-06  18  20  22
2021-07-07  24  26  28

In [7]:
dataFrame.sum()

a    30
b    35
c    40
dtype: int64

In [8]:
dataFrame.mean()

a    6.0
b    7.0
c    8.0
dtype: float64

In [9]:
dataFrame.a + dataFrame.c

2021-07-01     2
2021-07-02     8
2021-07-05    14
2021-07-06    20
2021-07-07    26
Freq: B, dtype: int32

In [10]:
0.5 * dataFrame['a'] + 2 * dataFrame['b'] - dataFrame['c']

2021-07-01     0.0
2021-07-02     4.5
2021-07-05     9.0
2021-07-06    13.5
2021-07-07    18.0
Freq: B, dtype: float64

In [11]:
dataFrame.a > 5

2021-07-01    False
2021-07-02    False
2021-07-05     True
2021-07-06     True
2021-07-07     True
Freq: B, Name: a, dtype: bool

In [12]:
# Select all rows where element in column a is greater than 5 
dataFrame[dataFrame['a'] > 5]

             a   b   c
2021-07-05   6   7   8
2021-07-06   9  10  11
2021-07-07  12  13  14

In [13]:
dataFrame.c > dataFrame.b

2021-07-01    True
2021-07-02    True
2021-07-05    True
2021-07-06    True
2021-07-07    True
Freq: B, dtype: bool

In [14]:
(0.15 * dataFrame.a + dataFrame.b) > dataFrame.c

2021-07-01    False
2021-07-02    False
2021-07-05    False
2021-07-06     True
2021-07-07     True
Freq: B, dtype: bool